*
!Dockerfile
!LICENSE
!package.json
!index.html
!styles.css
!manifest.webmanifest
!sw.js
!assets
!assets/helmsman-logo.png
!assets/icon-192.png
!assets/icon-512.png
!assets/icon-maskable-512.png
!assets/services
!assets/services/THIRD_PARTY_NOTICES.md
!assets/workloads
!assets/workloads/vm.svg
!assets/workloads/container.svg
!src
!src/app-v5.js
!src/ui
!src/ui/operations-views.js
!src/ui/operations.css
!src/ui/control.css
!src/ui/retro.css
!server
!server/broker.mjs
!server/control-plane.mjs
!server/health-engine.mjs
!server/index.mjs
!server/lock.mjs
!server/media-artwork.mjs
!server/media-model.mjs
!server/monitor.mjs
!server/network.mjs
!server/portainer-model.mjs
!server/portainer-probes.mjs
!server/proxmox-probes.mjs
!server/routes.mjs
!server/secrets.mjs
!server/seerr-request-metadata.mjs
!server/seerr-series-seasons.mjs
!server/service-probes.mjs
!server/session-auth.mjs
!server/state.mjs
